* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Arial", "sans-serif", "Verdana";
	font-size: 14px;
}

form {
	width: 800px;
	padding: 10px;
}

form > label {
	display: block;	
}

form > input, form > select {
	padding: 5px;
	width: 100%;
	border: 1px solid #abadb3;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

form > select {
	padding: 5px;
	width: 35%;
	border: 1px solid #abadb3;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.btn-01 {
	width: auto;
	border: 1px solid #3366ff;
	background-color: #3366ff;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.btn-02 {
	width: auto;
	border: 1px solid #e8483f;
	background-color: #e8483f;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

form .btn-01:hover {
	background-color: #fff;
	border: 1px solid #3366ff;
	color: #3366ff;
	font-weight: bold;
}

form .btn-02:hover {
	background-color: #fff;
	border: 1px solid #e8483f;
	color: #e8483f;
	font-weight: bold;
}

.border-red {
	border: 1px solid #e8483f;
}